	<!-- FOOTER -->
	<footer id="footer">
		<p>
			<span class="pull-right" style="margin-right:10px">
				<a href="http://www.facebook.com"><%= image_tag "sm_icons/fb_icon.png", alt:"Icon featuring a resume", class:"sm-icon" %></a>
				<a href="http://www.twitter.com"><%= image_tag "sm_icons/tw_icon.png", alt:"Icon featuring a resume", class:"sm-icon" %></a>
				<a href="http://www.linkedin.com"><%= image_tag "sm_icons/li_icon.png", alt:"Icon featuring a resume", class:"sm-icon" %></a>
			</span>
			<div class="footer-links" style="padding-top:15px;">
				&copy; Patrick Skiba, Inc &middot; <%= link_to 'HOME', '/#home', class:"white-link" %>&middot;
    				<%= link_to 'ABOUT US', '/#about', class:"white-link" %>&middot;
    				<%= link_to 'GALLERY', '/#gallery', class:"white-link" %>&middot;
   				<%= link_to 'CONTACT', '/#contact', class:"white-link" %>&middot;
   				<%= link_to 'CONSTITUTION', '/static_pages/constitution.html', class:"white-link" %>&middot;
    		      		<%= link_to 'NEWS', '/static_pages/constitution.html', class:"white-link" %>&middot;
				<%= link_to 'EVENTS', '/posts', class:"white-link" %>
		   	</div>
 		 </p>

	</footer>


