	<!-- FOOTER -->
	<footer id="footer">
		<p>
			<div class="footer-links" style="padding-top:15px;">
				&copy; Patrick Skiba, Inc &middot; <%= link_to 'HOME', '/#home', class:"white-link" %>&middot;
    				<%= link_to 'ABOUT US', '/#about', class:"white-link" %>&middot;
    				<%= link_to 'GALLERY', '/#gallery', class:"white-link" %>&middot;
   				<%= link_to 'CONTACT', '/#contact', class:"white-link" %>&middot;
   				<%= link_to 'CONSTITUTION', '/static_pages/constitution.html', class:"white-link" %>&middot;
    		      		<%= link_to 'NEWS', '/static_pages/constitution.html', class:"white-link" %>&middot;
				<%= link_to 'EVENTS', '/posts', class:"white-link" %>
		   	</div>
 		 </p>

	</footer>


