<nav class="navbar navbar-inverse navbar-fixed-top navbar-sm">
    	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<%= image_tag "AITP_logo.png"%>
			</a>
		</div>
		<div class="navbar">
			<ul class="nav nav-justified">
				<li><%= link_to 'HOME', '/#home', class:"white-link" %></li>
				<li><%= link_to 'ABOUT US', '/#about', class:"white-link"  %></li>
				<li><%= link_to 'GALLERY', '/#gallery', class:"white-link"  %></li>
				<li><%= link_to 'CONTACT', '/#contact', class:"white-link"  %></li>
				<li><%= link_to 'CONSTITUTION', '/static_pages/constitution.html', class:"white-link"  %></li>
				<li><%= link_to 'EVENTS', '/static_pages/constitution.html', class:"white-link"  %></li>
				<li><%= link_to 'NEWS', '/posts', class:"white-link"  %></li>
			</ul>
		</div>
       	 </div>	
</nav>
