
<!-- Jumbotron
================================================== -->

	<div id="home" class="jumbotron"></div>

 <!-- Marketing messaging and featurettes
    ================================================== -->
	<div class="container marketing">
		<!-- Three columns of text below the jumbotron -->
		<div class="row">
			<div class="col-lg-4 classyDolphin">
				<%= image_tag "macIcon.png", alt:"Icon featuring a mac", width:"140", height:"140" %>
				<h2>Technology</h2>
				<p>Develop database driven applications for non-profits in the Willimantic and Windham area. Visit leading technology firms throughout the Northeast.  Hold tech info and tutorial sessions with guest tech experts.</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 classyDolphin">
				<%= image_tag "graphIcon.png", alt:"Icon featuring a graph", width:"140", height:"140" %>
				<h2>Business</h2>
				<p>Analyze organizational information systems and business process needs.  Attend business and tech seminars throughout New England and New York.  Invite business leaders from throughout Connecticut and beyond to discuss newest business practices and trends.</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 classyDolphin">
				<%= image_tag "resumeIcon.png", alt:"Icon featuring a resume", width:"140", height:"140" %>
				<h2>Build Your Resume</h2>
				<p>Gain experience to put on your resume.  Demonstrate your business and tech skills through AITP projects and competitions.</p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
	</div><!--/.end container -->


<!-- ABOUT US SECTION
================================================== -->

	<div id="about" class="about" style="color:white;background-color:#4d4d4d;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 box">
					<h1 id="portfolio">About AITP's Eastern Chapter</h1>
					<span style="font-size:16px;">From humble beginnings...</span>
      				</div>
			</div>
			<div class="row">
        			<div class="col-lg-6 col-md-6 col-sm-6 box">
					<p>AITP's mission is to give students in the Business Information Systems, Business Administration and Computer Science student programs and courses an opportunity to gather information regarding developments not only in the information systems and technology fields but also in their future careers and facilitate professional networking amongst other students and professionals alike. Guest speakers provide opportunities to learn about new systems, technologies, up and coming business practices and innovations alike.</p>
        			</div>
        			<div class="col-lg-6 col-md-6 col-sm-6 box">
					<p> As a club, we visit local off campus businesses to not only take an in depth look into the business world, but also see some of the things that we as students might like to do in the future with our degrees. Feel free to look around at our website links for more information. If you have any questions feel free to contact us at <a href="mailto:aitp@my.easternct.edu">aitp@my.easternct.edu</a> or one of our e-board members or our adviser available to you in our contact page.</p>
        			</div>
			</div><!-- end of row -->
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 box" style="text-align:center;"><iframe width="85%" height="350px" src="https://www.youtube.com/embed/NLDA7YtWAnM?rel=0" frameborder="0" allowfullscreen></iframe>
        			</div>
				<div class="col-lg-6 col-md-6 col-sm-6 box" style="text-align:center;"><iframe width="85%" height="350px" src="https://www.youtube.com/embed/j_6I458ZZrM?rel=0" frameborder="0" allowfullscreen></iframe>

				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 box" style="text-align:center;"><iframe width="85%" height="350px" src="https://www.youtube.com/embed/YAWO4lnxbz4?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 box" style="text-align:center;"><iframe width="85%" height="350px" src="https://www.youtube.com/embed/aB_vm-OFwwM?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
	   	 </div>
	</div><!-- end of about -->

	
    <!-- Thumbnails ================================================== --> 
    	<div id="gallery" class="container">
		<div class="row">
			<div class="col-lg-12 box">
				<h1 id="portfolio">Gallery</h1>
				Click a thumbnail to see an album
      			</div>
		</div>
   		<div class="row">
			<div class="col-xs-6 col-md-3" id="thumbnail1">
				<%= image_tag "2015/2015_thumbnail-min.JPG", class:"img-circle", id:"thumbnail1", alt:"Slideshow 2015"%>
				<p id="caption1" class="caption">AITP 2015</p>
			</div>
			<div class="col-xs-6 col-md-3" id="thumbnail2">
				<%= image_tag "2014/2014_thumbnail-min.JPG", class:"img-circle", id:"thumbnail2", alt:"Slideshow 2014"%>
				<p id="caption2" class="caption">AITP 2014</p>
			</div>
			<div class="col-xs-6 col-md-3" id="thumbnail3">
				<%= image_tag "2013/2013_thumbnail-min.JPG", class:"img-circle", id:"thumbnail3", alt:"Slideshow 2013"%>
				<p id="caption3" class="caption">AITP 2013</p>
			</div>
			<div class="col-xs-6 col-md-3" id="thumbnail4">
				<%= image_tag "2012_prior/2012_thumbnail-min.JPG", class:"img-circle", id:"thumbnail4", alt:"Slideshow 2012"%>
				<p id="caption4" class="caption">AITP 2012 & Prior</p>
			</div>
		</div>
	</div>

<br/>
<div id="slider1" class="slider">
	<ul class="bxslider1">
		<li><%= image_tag "2015/pic1-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic2-min.JPG", alt:"Slideshow 2015 Picture 2"%></li>
		<li><%= image_tag "2015/pic3-min.JPG", alt:"Slideshow 2015 Picture 3"%></li>
		<li><%= image_tag "2015/pic4-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic5-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic6-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic7-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic8-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic9-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic10-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic11-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic12-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic13-min.JPG", alt:"Slideshow 2015 Picture 1"%></li>
	</ul>
</div>
<div id="slider2" class="slider">
	<ul class="bxslider2">
		<li><%= image_tag "2014/pic1-min.JPG", alt:"Slideshow 2014 Picture 1"%></li>
		<li><%= image_tag "2014/pic2-min.JPG", alt:"Slideshow 2014 Picture 2"%></li>
		<li><%= image_tag "2014/pic3-min.JPG", alt:"Slideshow 2014 Picture 3"%></li>
		<li><%= image_tag "2014/pic4-min.JPG", alt:"Slideshow 2014 Picture 4"%></li>
		<li><%= image_tag "2014/pic5-min.JPG", alt:"Slideshow 2014 Picture 5"%></li>
		<li><%= image_tag "2014/pic6-min.JPG", alt:"Slideshow 2014 Picture 6"%></li>
	</ul>
</div>
<div id="slider3" class="slider">
	<ul class="bxslider3">
		<li><%= image_tag "2013/pic1-min.JPG", alt:"Slideshow 2013 Picture 1"%></li>
		<li><%= image_tag "2013/pic2-min.JPG", alt:"Slideshow 2013 Picture 2"%></li>
		<li><%= image_tag "2013/pic3-min.JPG", alt:"Slideshow 2013 Picture 3"%></li>
		<li><%= image_tag "2013/pic5-min.JPG", alt:"Slideshow 2013 Picture 5"%></li>
		<li><%= image_tag "2013/pic6-min.JPG", alt:"Slideshow 2013 Picture 6"%></li>
	</ul>
</div>
<div id="slider4" class="slider">
	<ul class="bxslider4">
		<li><%= image_tag "2012_prior/pic1-min.JPG", alt:"Slideshow 2012 Picture 1"%></li>
		<li><%= image_tag "2012_prior/pic2-min.JPG", alt:"Slideshow 2012 Picture 2"%></li>
		<li><%= image_tag "2012_prior/pic3-min.JPG", alt:"Slideshow 2012 Picture 3"%></li>
		<li><%= image_tag "2012_prior/pic4-min.JPG", alt:"Slideshow 2012 Picture 4"%></li>
	</ul>
</div>

<!-- MISSION SECTION
================================================== -->
    <div id="contact" class="contact" style="height:30px;color:white;background-color:black;">
	    <div class="container" style="height:0px">
		<div class="row">
			<div class="col-lg-12 box no-show">
				<h1 id="portfolio">Contact</h1>
      			</div>
		</div>
	</div>
    </div>
    <div class="contact" style="color:white;background-color:#4d4d4d;">
	              <div class="container">
	                    <div class="row featurette">
	                            <div class="col-md-7 col-md-push-5">
	                                    <h2 class="featurette-heading">President<br/><span class="text-muted">He knows everything...</span></h2>
	                                    <p class="lead">Name: Michael Lauer<br/>Email:<a class='black-link' href="mailto:lauermi@my.easternct.edu">lauermi@my.easternct.edu</a><br/>Major: Business Information Systems <br/>Minor: Computer Science <br/>Class: Senior<br/>Fun Facts: I have no friends and my hobbies are staying up all night doing documentation for Citurs</p>
	                            </div>
	                            <div class="col-md-5 col-md-pull-7">
	                                    <%= image_tag "eboard/mike_l-min.jpg", alt:"Eboard Matt W", class: "featurette-image img-responsive left-block", width:"300px"%>
	                            </div>
	                    </div>
	                </div>
	                <br/>
	       </div>
	       <br/>
	       <div class="contact">
	               <div class="container">
	                    <div class="row featurette">
	                            <div class="col-md-7 col-md-push-5">
	                                    <h2 class="featurette-heading">Vice-President<br/> <span class="text-muted">When the Russians assasinate our President, This is who fills the shoes</span></h2>
	                                    <p class="lead">Name: Matt Witkowski<br/>Email:<a class='black-link' href="mailto:witkowskim@my.easternct.edu"> witkowskim@my.easternct.edu</a><br/>Major: Business Information Systems <br/>Minor: Healthcare Informatics<br/>Class: Senior</p>
	                            </div>
	                            <div class="col-md-5 col-md-pull-7">
	                                    <%= image_tag "eboard/matt_w-min.jpg", alt:"Eboard Matt W", class: "featurette-image img-responsive left-block", width:"300px"%>
	                            </div>
	                    </div>
	               </div>
	               <br/>
	       </div>
	       <br/>
    <div class="contact" style="color:white;background-color:#4d4d4d;">
	               <div class="container">
	                    <div class="row featurette">
	                            <div class="col-md-7 col-md-push-5">
	                                    <h2 class="featurette-heading">Secretary<br/> <span class="text-muted">Head of our covert epsionage department.</span></h2>
	                                    <p class="lead">Name: Jake Stephans<br/>Email:<a class='black-link' href="mailto:stephansj@my.easternct.edu"> stephansj@my.easternct.edu</a><br/>Major: Business Information Systems <br/>Minor: Computer Science<br/>Class: Sophomore</p>
	                            </div><br/>
	                            <div class="col-md-5 col-md-pull-7">
	                                    <%= image_tag "eboard/jake-min.jpg", alt:"Eboard Jake Stephans", class: "featurette-image img-responsive left-block", width:"300px"%> </div>
	                    </div>
	               </div>
	               <br/>
	       </div>
	       <br/>
	       <div class="contact">
	               <div class="container">
	                    <div class="row featurette">
	                            <div class="col-md-7 col-md-push-5">
	                                    <h2 class="featurette-heading">Treasurer<br/> <span class="text-muted">Comes with the option of dijon or whole grain mustard. </span></h2>
	                                    <p class="lead">Name: Reuben Rivera<br/>Email:<a class='black-link' href="mailto:riverare@my.easternct.edu"> riverare@my.easternct.edu</a><br/>Major: General Studies<br/>Class: Senior</p>
	                            </div>
	                            <div class="col-md-5 col-md-pull-7">
	                                    <%= image_tag "eboard/rueben-min.jpg", alt:"Eboard Kyle Roberts", class: "featurette-image img-responsive left-block", width:"300px"%> </div>
	                    </div>
	               </div>
	               <br/>
	       </div>

