
<!-- Jumbotron
================================================== -->

	<div id="home" class="jumbotron"></div>

 <!-- Marketing messaging and featurettes
    ================================================== -->
	<div class="container marketing">
		<!-- Three columns of text below the jumbotron -->
		<div class="row">
			<div class="col-lg-4 classyDolphin">
				<%= image_tag "macIcon.jpg", alt:"Icon featuring a mac", width:"140", height:"140" %>
				<h2>Technology</h2>
				<p>Develop database driven applications for non-profits in the Willimantic and Windham area.</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 classyDolphin">
				<%= image_tag "graphIcon.jpg", alt:"Icon featuring a graph", width:"140", height:"140" %>
				<h2>Business</h2>
				<p>Something something place business stuff here. Yay for business!</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 classyDolphin">
				<%= image_tag "resumeIcon.jpg", alt:"Icon featuring a resume", width:"140", height:"140" %>
				<h2>Build Your Resume</h2>
				<p>Gain experience to put on your resume. Filler filler and more filler.</p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
	</div><!--/.end container -->


<!-- ABOUT US SECTION
================================================== -->

	<div id="about" class="about" style="color:white;background-color:#4d4d4d;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 box">
					<h1 id="portfolio">About AITP's Eastern Chapter</h1>
					<span style="font-size:16px;">From humble beginnings...</span>
      				</div>
			</div>
			<div class="row">
        			<div class="col-lg-6 col-md-6 col-sm-6 box">
					<p>AITP's mission is to give students in the Business Information Systems, Business Administration and Computer Science student programs and courses an opportunity to gather information regarding developments not only in the information systems and technology fields but also in their future careers and facilitate professional networking amongst other students and professionals alike. Guest speakers provide opportunities to learn about new systems, technologies, up and coming business practices and innovations alike.</p>
        			</div>
        			<div class="col-lg-6 col-md-6 col-sm-6 box">
					<p> As a club, we visit local off campus businesses to not only take an in depth look into the business world, but also see some of the things that we as students might like to do in the future with our degrees. Feel free to look around at our website links for more information. If you have any questions feel free to contact us at aitp@my.easternct.edu or one of our e-board members or our adviser available to you in our contact page.</p>
        			</div>
      			</div><!-- end of row -->
	   	 </div>
	</div><!-- end of about -->

	
    <!-- Thumbnails
    ================================================== -->
    
    	<div id="gallery" class="container">
		<div class="row">
			<div class="col-lg-12 box">
				<h1 id="portfolio">Gallery</h1>
				Click a thumbnail to see an album
      			</div>
		</div>
   		<div class="row">
			<div class="col-xs-6 col-md-3" id="thumbnail1">
				<%= image_tag "2015/2015_thumbnail.JPG", class:"thumbnail", id:"thumbnail1", alt:"Slideshow 2015"%>
				<p id="caption1" class="caption">AITP 2015</p>
			</div>
			<div class="col-xs-6 col-md-3" id="thumbnail2">
				<%= image_tag "2014/2014_thumbnail.JPG", class:"thumbnail", id:"thumbnail2", alt:"Slideshow 2014"%>
				<p id="caption2" class="caption">AITP 2014</p>
			</div>
			<div class="col-xs-6 col-md-3" id="thumbnail3">
				<%= image_tag "2013/2013_thumbnail.JPG", class:"thumbnail", id:"thumbnail3", alt:"Slideshow 2013"%>
				<p id="caption3" class="caption">AITP 2013</p>
			</div>
			<div class="col-xs-6 col-md-3" id="thumbnail4">
				<%= image_tag "2012_prior/2012_thumbnail.JPG", class:"thumbnail", id:"thumbnail4", alt:"Slideshow 2012"%>
				<p id="caption4" class="caption">AITP 2012 and Prior</p>
			</div>
		</div>
	</div>

<br/>
<div id="slider1" class="slider">
	<ul class="bxslider1">
		<li><%= image_tag "2015/pic1.JPG", alt:"Slideshow 2015 Picture 1"%></li>
		<li><%= image_tag "2015/pic2.JPG", alt:"Slideshow 2015 Picture 2"%></li>
		<li><%= image_tag "2015/pic3.JPG", alt:"Slideshow 2015 Picture 3"%></li>
	</ul>
</div>
<div id="slider2" class="slider">
	<ul class="bxslider2">
		<li><%= image_tag "2014/pic1.JPG", alt:"Slideshow 2014 Picture 1"%></li>
		<li><%= image_tag "2014/pic2.JPG", alt:"Slideshow 2014 Picture 2"%></li>
		<li><%= image_tag "2014/pic3.JPG", alt:"Slideshow 2014 Picture 3"%></li>
		<li><%= image_tag "2014/pic4.JPG", alt:"Slideshow 2014 Picture 4"%></li>
		<li><%= image_tag "2014/pic5.JPG", alt:"Slideshow 2014 Picture 5"%></li>
		<li><%= image_tag "2014/pic6.JPG", alt:"Slideshow 2014 Picture 6"%></li>
	</ul>
</div>
<div id="slider3" class="slider">
	<ul class="bxslider3">
		<li><%= image_tag "2013/pic1.JPG", alt:"Slideshow 2013 Picture 1"%></li>
		<li><%= image_tag "2013/pic2.JPG", alt:"Slideshow 2013 Picture 2"%></li>
		<li><%= image_tag "2013/pic3.JPG", alt:"Slideshow 2013 Picture 3"%></li>
		<li><%= image_tag "2013/pic4.JPG", alt:"Slideshow 2013 Picture 4"%></li>
		<li><%= image_tag "2013/pic5.JPG", alt:"Slideshow 2013 Picture 5"%></li>
		<li><%= image_tag "2013/pic6.JPG", alt:"Slideshow 2013 Picture 6"%></li>
	</ul>
</div>
<div id="slider4" class="slider">
	<ul class="bxslider4">
		<li><%= image_tag "2012_prior/pic1.JPG", alt:"Slideshow 2012 Picture 1"%></li>
		<li><%= image_tag "2012_prior/pic2.JPG", alt:"Slideshow 2012 Picture 2"%></li>
		<li><%= image_tag "2012_prior/pic3.JPG", alt:"Slideshow 2012 Picture 3"%></li>
		<li><%= image_tag "2012_prior/pic4.JPG", alt:"Slideshow 2012 Picture 4"%></li>
	</ul>
</div>

<!-- MISSION SECTION
================================================== -->
    <div id="contact" class="contact" style="color:white;background-color:#4d4d4d;">
    	<div class="container">
		<div class="row">
			<div class="col-lg-12 box">
				<h1 id="portfolio">Contact</h1>
      			</div>
		</div>
	</div>
    </div>
    <div class="contact" style="color:white;background-color:#4d4d4d;">
	    <div class="container">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">President<br/><span style="color:white" class="text-muted">Has not submited a picture please spam his email.</span></h2>
				<p class="lead">Name: Kyle Roberts<br/>Email:<a style="color:black;" href="mailto:robertsk@my.easternct.edu">robertsk@my.easternct.edu</a><br/>Major: Business Information Systems<br/>Class: Senior</p>
			</div>
			<div class="col-md-5">
				<%= image_tag "eboard/kyle_r.jpg", alt:"Eboard Kyle Roberts", class: "featurette-image img-responsive center-block", width:"300px"%>
			</div>
		</div>
	    </div>
	    <br/>
   </div>
   <br/>
   <div class="contact">
	   <div class="container">
		<div class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">Vice-President<br/> <span class="text-muted">When the Russians assasinate our President, This is who fills the shoes</span></h2>
				<p class="lead">Name: Matt Witkowski<br/>Email:<a style="color:black;" href="mailto:witkowskim@my.easternct.edu">witkowskim@my.easternct.edu</a><br/>Major: Business Information Systems <br/>Minor: Healthcare Informatics<br/>Class: Senior</p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<%= image_tag "eboard/matt_w.jpg", alt:"Eboard Matt W", class: "featurette-image img-responsive left-block", width:"300px"%>
        		</div>
		</div>
	   </div>
	   <br/>
   </div>
   <br/>
   <div class="contact"style="color:white;background-color:#4d4d4d;"><br/>
	  <div class="container">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Secretary<br/><span style="color:white" class="text-muted">Yes.</span></h2>
				<p class="lead">Name: Jake Stephans<br/>Email:<a style="color:black;" href="mailto:stephansj@my.easternct.edu">stephansj@my.easternct.edu</a><br/>Major: Business Information Systems <br/>Minor: Computer Science<br/>Class: Sophomore</p>
			</div>
			<div class="col-md-5">
				<%= image_tag "bullet_cat1.jpg", alt:"Eboard Matt W", class: "featurette-image img-responsive center-block", width:"300px"%>
			</div>
		</div>
	  </div>
	  <br/>
  </div>
  <br/>
  <div class="contact">
	  <div class="container">
		<div class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">Treasurer<br/><span class="text-muted">He knows everything...</span></h2>
				<p class="lead">Name: Michael Lauer<br/>Email:<a style="color:black;" href="mailto:witkowskim@my.easternct.edu">louerm@my.easternct.edu</a><br/>Major: Business Information Systems <br/>Minor: Computer Science <br/>Class: Senior<br/>Fun Facts: I have no friends and my hobbies are staying up all night doing documentation for Citurs</p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<%= image_tag "eboard/mike_l.jpg", alt:"Eboard Matt W", class: "featurette-image img-responsive left-block", width:"300px"%>
        		</div>
      		</div>
	    </div>
  </div>





