<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @donation.company %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @donation.reason %>
</p>

<p>
  <strong>Currenttech:</strong>
  <%= @donation.currentTech %>
</p>

<p>
  <strong>Pointofcontact:</strong>
  <%= @donation.pointOfContact %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
