<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='utf-8'>
  <meta name="description" content="The offical website of Eastern Connecticut State University's AITP Chapter">
  <meta name="keywords" content="aitp, web development, business, technology, BIS, computer science, eastern, connecticut, state, university">
  <meta name="author" content="Patrick Skiba, ECSU AITP">
  <title>AITP ECSU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'static_pages/navbar' %>
<%= yield %>
<%= render 'static_pages/footer' %>
</body>
</html>
